body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    float: left;
    padding: 20px;
    width: 55vw;
}

aside{
    float: right;
    width: 35vw;
    height: 100vh;
    background-color:#969494;
    padding: 1em;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}